.starterDetailPanel {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.starterChoices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  align-items: start;
  justify-items: center;
}

.starterChoice {
  height: fit-content;
  width: fit-content;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.starterChoice:hover {
  border: 2px solid white;
  background-color: hsla(0, 0%, 100%, 0.85);
}

.caughtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.undoButton {
  background: none;
  border: 2px solid #ff4444;
  border-radius: 4px;
  color: #ff4444;
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
