/* App */
.app {
  height: 100vh;
}

/* Nav */
.nav {
  position: absolute;
  height: 5vh;
  background-color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.difficulty-toggle {
  position: absolute;
  right: 20px;
}

/* Dev */
.dev {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  background-color: gray;
  align-items: center;
  height: 95vh;
}

.dev > form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5vh;
}

#tsvInput {
  height: 20vh;
}

/* Mastersheet */
.mastersheet {
  padding-top: 5vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 95vh;
  background-color: gray;
}

.left-panel {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  font-size: x-large;
}

.left-panel > button {
  margin-top: 3vh;
}

.middle-panel {
  grid-column: 3 / span var(--middle-panel-span);
  overflow: auto;
  padding-bottom: 24px;
}

div.middle-panel::-webkit-scrollbar {
  background-color: black;
  scrollbar-width: 10 px;
}

div.middle-panel::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

div.middle-panel::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.middle-panel__gutter {
  display: flex;
  flex-direction: column;
}

.middle-panel > div {
  color: white;
}

.right-panel {
  background-color: white;
  grid-area: 1 / 9 / 1 / 13;
  display: var(--display);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.right-panel__close-btn {
  position: fixed;
  right: 10px;
  top: calc(5vh + 10px);
}

.move-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.move-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.move-row__level {
  grid-area: 1 / 2 / 2 / 4;
}
.move-row__name {
  grid-area: 1 / 5 / 2 / 7;
}
.move-row__type {
  grid-area: 1 / 8 / 2 / 10;
}
.move-row__power {
  grid-area: 1 / 11 / 2 / 13;
}

/* Entry Panel */
.entry-panel {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  border-radius: 15px;
  margin-top: 24px;
}

.entry-panel-hidden {
  height: 50px;
  overflow: hidden;
}

.entry-panel__header {
  font-size: xx-large;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.entry-panel__header-text {
  grid-column: 3;
}

.entry-panel__hide-button {
  grid-column: 5;
  background-color: unset;
  border: unset;
  justify-self: end;
  padding-right: 24px;
}

.entry-panel__effect {
  grid-column: 1 / span 5;
}

.entry-panel__starter-list {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px;
}

.entry-panel__starter {
  display: flex;
  flex-direction: column;
}

/* Encounter Panel */
.encounter-panel {
  display: flex;
  flex-direction: column;
}

.encounter-panel__header {
  font-size: xx-large;
  text-align: center;
}

.encounter-method {
  margin: 24px;
  font-size: x-large;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.encounter-method__header {
  grid-column: span 2;
}

.encounter-method__encounters-list {
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.encounter-method__encounter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encounter-panel__caught {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

/* Battle Panel */
.battle-panel {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.battle-panel-hidden {
  height: 75px;
  overflow: hidden;
}

.battle-panel__header {
  grid-column: span 6;
  font-size: xx-large;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Trainer Panel */
.trainer-panel {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.trainer-panel-hidden {
  height: 75px;
  overflow: hidden;
}

.trainer-panel__header {
  grid-column: span 6;
  font-size: xx-large;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-mon-panel {
  grid-column: span 3;
  min-height: 50px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  color: black;
  border-radius: 12px;
  margin: 12px;
}

.trainer-mon-panel__box {
  grid-area: 1 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 200px;
  border: 3px solid;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    hsl(275, 0%, 54%) 100%,
    hsl(260, 0%, 51%) 100%
  );
}

.trainer-mon-panel__box__images {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.trainer-mon-panel__box__level {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.trainer-mon-panel__box__types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.trainer-mon-panel__box__ability {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trainer-mon-panel__stats {
  grid-area: 3 / 1 / 5 / 3;
}

.trainer-mon-panel__moves {
  grid-area: 1 / 3 / 5 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* Home */

.home {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Move Display */
.move-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: start;
}

.move-display__header {
  grid-column: span 4;
  font-size: xx-large;
}

.move-display__footer {
  grid-column: span 4;
}

/* Stat Display */
.stat-display {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stat-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.stat-row__name {
  grid-column: 2 / span 4;
}

.stat-row__bar {
  grid-column: 8 / span 5;
  width: var(--progress);
  background-color: hsl(calc(var(--progress) * 1.2), 100%, 50%);
  border-radius: 3px;
  height: 65%;
}

/* Table of Contents */
.table-of-contents {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

/* Misc */
.hidden {
  display: none;
}

.filter-btn {
  border-radius: 24px;
  background-color: white;
}

.filter-btn:hover {
  background-color: rgb(226, 226, 226);
}

.pressed {
  background-color: gray;
}

.pressed:hover {
  background-color: rgb(36, 36, 36);
}

.minimize-sprite {
  max-width: 48px;
}

.center {
  align-self: center;
}

@media only screen and (max-width: 1800px) {
  .middle-panel {
    grid-column: 3 / span 12;
  }
  .right-panel {
    position: absolute;
    right: 0;
    height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .trainer-panel {
    grid-column: 2 / 12;
  }
  .trainer-mon-panel {
    grid-column: span 6;
  }
  .encounter-method {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 600px) {
  .middle-panel {
    grid-column: 1 / span 12;
  }
  .trainer-mon-panel {
    display: flex;
    flex-direction: column;
  }
  .trainer-mon-panel__stats {
    display: none;
  }
  .trainer-mon-panel__moves {
    margin-left: 20px;
  }
  .encounter-method {
    grid-column: span 3;
  }
  .left-panel {
    display: none;
  }
}
